title V A L O R I A 
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
link(rel="icon" type="image/png" href="assets/icon.png")
link(href="index.css" rel="stylesheet")
script(src="scripts/webrtc-adapter.js")
script(src="valoria.js")
script(src="index.js")

.page
  include page/page
.world
  include world/world
.valorUI
    .valorAmount

//- audio#radio(src="http://radio.plaza.one/ogg" autoplay)

