script(src="scripts/three.js")
script(src="scripts/three-vr.js")
script(src="scripts/gltf-loader.js")
script(src="scripts/fly-controls.js")
script(src="scripts/pointer-lock.js")
script(src="scripts/device-orientation.js")


.world
  
script(src="world/world.js")
link(rel="stylesheet" href="world/world.css")