script(src="https://aframe.io/releases/1.2.0/aframe.min.js")
script(src="scripts/aframe-lookat.min.js")
script(src="scripts/aframe-extras.min.js")
script(src="scripts/components.js")

.valoria
  a-scene(embedded loading-screen="dotsColor: white; backgroundColor: black")
    a-assets
      img#dimPlane(src="assets/grid.png")
      img#galactic(src="assets/valoriacity.png")
      a-asset-item#palm(src="assets/palm/QueenPalmTree.gltf")
      a-asset-item#soldier(src="assets/Soldier.glb")
    a-entity#cameraRig(
      position="-0.25 0 0"
      rotation="0 90 0"
      movement-controls="constrainToNavMesh: true;speed: 0;fly: true"
      read-controls
    )
      a-entity#dimCamera(position="0 1.6 0" camera="active: true" look-controls="pointerLockEnabled: true;")
    a-entity(gltf-model="#soldier" position="-1.8 0 -1.5" rotation="0 90 0" animation-mixer walk-anim)
    a-entity(gltf-model="#soldier" position="-1.8 0 1.5" rotation="0 90 0" animation-mixer walk-anim)
    a-entity(gltf-model="#soldier" position="-2.8 0 0" rotation="0 90 0" animation-mixer walk-anim)
      //- a-circle(src=user ? user.avatar : "assets/person-fill.svg" scale="0.25 0.25 0.25" position="0 0 0" rotation="0 180 0")
    a-entity.otherUsers
    a-entity(light="type: ambient; color: #FFF; intensity: 3" position="0 5 2.5")
    a-plane#dimGrid(src="#dimPlane" geometry="primitive: plane; height: 500; width: 500; segmentsWidth: 100" rotation="-90 90 0" position="-40 0 0" repeat="300 300" opacity="0.8" grid-anim)
    a-sky(src='#galactic' opacity="1")
    a-entity#palms(position="-40 -0.2 0" palm-anim)
      a-entity(gltf-model="#palm" position="85 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="85 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="75 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="75 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="65 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="65 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="55 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="55 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="45 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="45 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="35 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="35 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="25 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="25 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="15 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="15 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="5 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="5 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-5 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-5 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-15 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-15 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-25 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-25 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-35 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-35 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-45 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-45 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-55 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-55 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-65 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-65 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-75 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-75 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-85 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-85 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-95 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-95 -0.05 4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-105 -0.05 -4" scale="0.5 0.5 0.5")
      a-entity(gltf-model="#palm" position="-105 -0.05 4" scale="0.5 0.5 0.5")

script(src="world/world.js")
link(rel="stylesheet" href="world/world.css")