link(rel="stylesheet" href="page/page.css")
script(src="/scripts/split.min.js")
script(src="/scripts/qr-scanner.min.js")
script(src="/scripts/qrious.min.js")

.valUI
  .valUINav
    .valUINavHeader(onclick="showHome()")
      img.valUIHeaderImg(src="assets/icon.png")
      .valUIHeaderLabel VALORIA
    .valUINavRight 

  .valUIMain
    .valUIMainModal
      img.valUIMainLogo(src="assets/icon.png")
      .valUIMainHeader VALORIA NEEDS YOU
      .valUIMainNav
        .valUIMainNavBtn(onclick="showJoin()") Join
        .valUIMainNavBtn(onclick="showAbout()") About
        .valUIMainNavBtn(onclick="showDonate()") Donate
        .valUIMainNavBtn(onclick="showContact()") Contact
      .valUIMainDescription Valoria is an open source, decentralized metaverse that everyone can be a part of. It is powered by a distributed network of devices and servers, which are all owned by the public. Anyone can add their own device's storage and computation power to the network and start earning Valor, a cryptocurrency tied to the amount of work and value each device is giving to the collective. Every phone, computer, and server added increases the scalability of the network. Join Valoria now and start earning Valor through your browser.
      //- span.valUILandingGuideLink Or click here to learn how to host your own Valoria server.

      //- .valUILandingInfo
       
        //- .valUILandingDescription Valoria is a decentralized network powered by a collective of highly cooperative servers that work together to keep everything running smoothly. All data is being saved, hosted, and validated from all qualifying servers across the network. The servers that are 100% reliable will receive Valor, a cryptocurrency determined by how well a server performs in the network. 
      //- .valUILandingJoin

    .valUIAbout
      .valUIBack(onclick="exitAbout()") < Go back
      .valUIHeader About Valoria
      .valUIAboutDesc Valoria is a project created by James Rezendes in the summer of 2018 when he began working with VR development. At that time, Valoria was supposed to be a mix of a social media app and an online multiplayer game. In the game, all players had full control over their appearance and could post digital content in a 2d, open space. These open spaces, called dimensions, would have an owner who was able to define a set of rules of what could be allowed in the space.
      .valUIAboutDesc After having a few players, Valoria began to perform and load data slowly due to the whole system being ran on only one server. It was at this time that James was introduced to decentralized systems, which he became quickly passionate about. After years of working with all kinds of web libraries promising decentralized storage and realtime networks, none would find themselves capable of powering a serious, live metaverse. James finally decided to build his own protocol with the sole purpose of bringing Valoria to life. After becoming experienced with distributed systems and cryptography, James has been working on Valoria as a passion project and is fully confident that his vision can be built into reality.
      .valUIAboutDesc As of now, Valoria is still in development, to keep up to date with the project's progress 
        a.valUIAboutLink(href="https://discord.gg/B3JmyGethM" target="_blank")
          span please join the discord
        span . It is also encouraged to read 
        a.valUIAboutLink(href="/assets/The Valorian Manifesto.pdf" target="_blank")
          span The Valorian Manifesto
        span , a short, non-technical paper summarizing the long-lasting vision of Valoria. 

    .valUIDonate
      .valUIBack(onclick="exitDonate()") < Go back
      .valUIHeader Donate
      a.valUIButton(href="https://www.patreon.com/valoria_live" target="_blank") Support on Patreon
      .valUIButton.valUIDonateBtc(onclick="copyBtc()") Send Bitcoin
      .valUIButton.valUIDonateEth(onclick="copyEth()") Send Ethereum
      .valUIButton.valUIDonateDoge(onclick="copyDoge()") Send Dogecoin
      .valUIButton.valUIDonateShiba(onclick="copyShiba()") Send Shiba Inu


    .valUIContact
      .valUIBack(onclick="exitContact()") < Go back
      .valUIHeader Contact
      .valUIContactDesc Please join the community discord to ask questions or talk about anything related to Valoria.
      a.valUIButton(href="https://discord.gg/B3JmyGethM" target="_blank") Join Discord Server
      .valUIContactDesc You can also send an email to james@valoria.live


    .valUIAuth 
      .valUIJoin
        .valUIJoinHeader JOIN VALORIA
        .valUIJoinDescription Create your account or sign in through a recovery method
        .valUIJoinCreate(onclick="showNewPassword()") Create Account
        .valUIJoinOr OR
        .valUIJoinSignIn(onclick="showSignIn()") Sign In
      .valUINewPassword
        .valUINewPasswordHeader Create Password
        .valUINewPasswordLabel New Password
        input.valUINewPasswordInput.valUIPassInput(type="password")
        .valUINewPasswordLabel Confirm Password
        input.valUIConfirmPasswordInput.valUIPassInput(type="password")
        .valUINewPasswordError
        .valUINewPasswordCreate(onclick="createAccount()") Create Account

      .valUINewQR
        .valUINewQRHeader Recovery Photo
        canvas.valUINewQRCanvas
        img.valUINewQRPhoto
        img.valUIQRTemplate(src="assets/qrtemplate.png")
        img.valUIQRRecoveryPhoto
        .valUINewQRDescription Save this universal recovery photo to sign in to your account. You will need this photo along with your password to sign in on new devices and browsers. 
        .valUINewQRSave(onclick="saveQRPhoto()") Save to Device
        .valUINewQRNext
          .valUINewQRNextLabel Continue after you have successfully saved the photo.
          .valUINewQRNextBtn(onclick="QRNext()") Continue

      .valUIExtension
        .valUIExtensionHeader Install the Valoria Extension
        .valUIExtensionDescription It is strongly recommended to install the Valoria Extension for your browser. This keeps your account connected for future use so you don't have to constantly sign in to the network. It also provides direct access to the Valoria world, expanding the limits of your browser experience.
        .valUIExtensionInstall(onclick="installExtension()") Install Now
        .valUIExtensionLater(onclick="installLater()") or install later

      .valUISignIn
        .valUISignInHeader Sign In To Valoria 
        .valUISignInDescription Provide your recovery photo and password to sign in to the network.
        canvas.valUISignInQR
        input.valUISignInQRInput(type="file" onchange="loadRecoveryPhoto()")
        .valUISignInQRSelect(onclick="selectRecoveryPhoto()") Upload Photo
        .valUISignInQRMsg Account Found
        .valUISignInPassword
          .valUISignInPassLabel Password 
          input.valUISignInPassInput.valUIPassInput(type="password")
          .valUISignInSubmit(onclick="signIn()") Sign In


  //- .valUIMain
  //-   .valUIMainNav
  //-   .valUIMainContent
  //-     .valUIFileNav
  //-     .valUICodeContainer
  //-       .valUISaveCodeBtn(onclick="saveFile()") Save File
  //-       #valUICodeEditor
  //-     .valUIAppContainer 

  //- .valUIProfile


script(src="page/page.js")